<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ticketer - Easily manage users' concerns</title>
    <meta name="keywords" content="ticketer, ticketer.developersdungeon.xyz, ticket, discord ticket, discord ticket bot, ticket bot, discord, ticket discord">
    <meta name="description" content="With ticketer you can easily manage the concerns of your server members at any time. Very uncomplicated and with many possibilities!">
    <meta name="author" content="Finn Kötting">

    <link rel="stylesheet" href="/assets/css/staff.css">
    <link rel="stylesheet" href="/assets/css/responsive/staff.responsive.css">
    <link rel="stylesheet" href="/assets/css/partials/navbar.css">
    <link rel="stylesheet" href="/assets/css/partials/sidenav.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/assets/img/logo-round.webp" type="image/x-icon">
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="sidenav">
        <div class="info">
            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.webp" alt="Icon" class="logo">
            <h3 class="name"><%= guild.name %></h3>
        </div>
        <div class="links">
            <p class="title">Informations</p>
            <a href="/dashboard/<%= guild.id %>" class="item"><i class='bx bx-stats' ></i> Stats</a>
            <a href="/dashboard/<%= guild.id %>/tickets" class="item"><i class='bx bx-conversation' ></i> Tickets</a>
            <a href="/dashboard/<%= guild.id %>/staff" class="item active"><i class='bx bx-box' ></i> Staff</a>
            <p class="title">Settings</p>
            <a href="/dashboard/<%= guild.id %>/settings" class="item"><i class='bx bx-cog' ></i> General</a>
            <a href="/dashboard/<%= guild.id %>/settings/reasons" class="item"><i class='bx bx-message-dots' ></i> Reasons</a>
            <a href="/dashboard/<%= guild.id %>/settings/permissions" class="item"><i class='bx bx-error' ></i> Permissions</a>
            <a href="/dashboard/<%= guild.id %>/settings/transcripts" class="item"><i class='bx bx-box' ></i> Logs</a>

            <a href="/dashboard/" class="item last"><i class='bx bx-left-arrow-alt'></i> Server list</a>
        </div>
    </div>
    <div class="sidenav-small">
        <a href="/dashboard/<%= guild.id %>" class="item"><i class='bx bx-stats' ></i></a>
        <a href="/dashboard/<%= guild.id %>/tickets" class="item"><i class='bx bx-conversation' ></i></a>
        <a href="/dashboard/<%= guild.id %>/staff" class="item active"><i class='bx bx-box' ></i></a>
        <a href="/dashboard/<%= guild.id %>/settings" class="item"><i class='bx bx-cog' ></i></a>
        <a href="/dashboard/<%= guild.id %>/settings/reasons" class="item"><i class='bx bx-message-dots' ></i></a>
        <a href="/dashboard/<%= guild.id %>/settings/permissions" class="item"><i class='bx bx-error' ></i></a>
        <a href="/dashboard/<%= guild.id %>/settings/transcripts" class="item"><i class='bx bx-box' ></i></a>
    </div>

    <div class="content">
        <div class="container">
            <div class="item">
                <p class="title">Staff role</p>
                <p class="value"><%= staffrole %></p>
            </div>
            <div class="item">
                <p class="title">Added staff</p>
                <p class="value"><%= db.settings.staff.members.length %></p>
            </div>
            <div class="item">
                <p class="title">Active staff</p>
                <% let staffcount = []; %>
                <% db.tickets.filter(t => t.claimed !== 'none') %>
                <% db.tickets.forEach((ticket) => {
                    if(!staffcount.includes(ticket.claimed)) staffcount.push(ticket.claimed)
                }) %>
                <p class="value"><%= staffcount.length %></p>
            </div>
            <div class="item">
                <p class="title">Unclaimed tickets</p>
                <p class="value"><%= db.tickets.filter((t => t.claimed == 'none' && t.state !== 'closed')).length %></p>
            </div>
        </div>
        <div class="chart">
            <h3 class="title">Staff activity</h3>
            <canvas id="tickets" class="graph" style="width:100%;max-width:900px"></canvas>
        </div>
    </div>

    <script>
        let staff = JSON.parse('<%- JSON.stringify(staff) %>');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="/assets/js/partials/navbar.js"></script>
    <script src="/assets/js/staff.js"></script>
</body>
</html>