<nav>
<<<<<<< HEAD
    <div class="title" href="https://ticketer.developersdungeon.xyz/">
        <img src="/assets/img/logo.webp" alt="Logo" class="logo">
        <h1 class="brand" ">Ticketer</h1>
=======
    <div class="title">
        <img src="/assets/img/logo.webp" alt="Logo" class="logo">
        <h1 class="brand">Ticketer</h1>
>>>>>>> 1639eb7019f6697dd5445ae7fa58587f33675055
    </div>
    <div class="links">
        <a href="/" class="link"><i class='bx bx-home-alt-2'></i> Home</a>
        <a href="/commands" class="link disabled"><i class='bx bx-food-menu'></i> Commands</a>
<<<<<<< HEAD
        <a href="https://discord.com/api/oauth2/authorize?client_id=977591057711792178&permissions=139855260752&scope=bot%20applications.commands" class="link"><i class='bx bx-link-external' ></i> Invite</a>
=======
        <a href="https://discord.com/api/oauth2/authorize?client_id=977591057711792178&permissions=137439341649&scope=bot%20applications.commands" class="link"><i class='bx bx-link-external' ></i> Invite</a>
>>>>>>> 1639eb7019f6697dd5445ae7fa58587f33675055
    </div>
    <div class="login">
        <% if(!user) { %>
        <a href="/api/login" class="button">Login</a>
        <% } else { %>
        <div class="dropdown">
<<<<<<< HEAD
            <a class="text dropdown-toggle"><img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.webp"></img> <%= user.username %>#<%= user.discriminator %></a>
=======
            <a class="text dropdown-toggle"><%= user.username %>#<%= user.discriminator %></a>
>>>>>>> 1639eb7019f6697dd5445ae7fa58587f33675055
            <div class="dropdown-content">
                <a class="item" href="/dashboard">Dashboard</a>
                <a class="item red" href="/api/logout">Logout</a>
            </div>
        </div>
        <% } %>
    </div>
</nav>